<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>sun.demo.mybatis.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list.action</url-pattern>
  </servlet-mapping>


  <servlet>
  <servlet-name>DeleteOneServlet</servlet-name>
  <servlet-class>sun.demo.mybatis.servlet.DeleteOneServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>DeleteOneServlet</servlet-name>
    <url-pattern>/DeleteOneServlet.action</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <servlet-class>sun.demo.mybatis.servlet.DeleteBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <url-pattern>/DeleteBatchServlet.action</url-pattern>
  </servlet-mapping>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
      <scripting-invalid>true</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
</web-app>
